PLEX_USER_TOKEN=your_plex_token_here
PLEX_SERVER_NAME=My_Plex_Server
LIBRARY_NAME=Movies

MIN_YEAR=2026
SLEEP_SECONDS=1.2
USE_MAL_FILTER=false
QUALITY=1080p

YTS_WEB_USERNAME=
YTS_WEB_PASSWORD=
YTS_BIND_HOST=127.0.0.1
YTS_PORT=5000
YTS_ALLOW_INSECURE=false
LOG_JSON=false
